# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/client/node_modules
/client/build
/.pnp
.pnp.js
.DB.js
.package.json
package-lock.json
# testing

# production
/build
package-lock.json
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.access.log
access.log
combined.log
.access.log
.combined.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


client/debug.log
client/build.rar

*.rar

